{% extends "StatTracker/base.html" %}
{% load staticfiles %}

{% block head %}
<meta http-equiv="refresh" content="5">
{% endblock %}

<body>
{% block content %}
<h1 style='align:center'>Harvesting Data...</h1>
<br>
<p>Depending on game state this may take a few minutes due to API request rate limitation.</p>
<p>Better Celery implementation and jQuery polling coming Soon™</p>
<div class="footer-div-fixed">
  <p class="non-highlighting">Immense Dawn isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</div>
{% endblock %}
</body>