{% extends "StatTracker/base.html" %}
{% load staticfiles %}
<body>
{% block content %}
<h1>This is the Detail View for {{ summoner.name }}</h1>
<div class="contained-data-section">
  <h3>Core Summoner Properties:</h3>
  <p>Summoner Name: {{subject.display_name }}</p>
  <p>Summoner ID: {{ subject.riot_id }}</p>
</div>
<div class="contained-data-section">
  <h3>Analysis Presets:</h3>
  <p class="glyphicon glyphicon-screenshot analysis-preset-text" style="display: inline"> Threat Parameter Profile: <b>{{ threat_config.preset_name }}</b></p>
  <br>
  <p class="glyphicon glyphicon-eye-open analysis-preset-text" style="display: inline"> Psychological Warfare Module: <b>{{ psych_war_mod.preset_name }}</b></p>
</div>
<br>
<div class="contained-data-section section-image-background">
<h3>Main Champion Statistics:</h3>
  {% if subject.most_played_champion_name %}
  <p>Most Played Champion: <b>{{subject.most_played_champion_name }}, {{ subject.most_played_champion_title }}</b></p>
  <p>Double Kills: {{ subject.main_doubles }}</p>
  <p>Triple Kills: {{ subject.main_triples }}</p>
  <p>Quadra Kills: {{ subject.main_quadras }}</p>
  <p>Penta Kills: {{ subject.main_pentas }}</p>
  <p>Most Kills in a Single Game: {{ subject.main_most_champions_killed }}</p>
  <p>Towers Destroyed: {{ subject.main_turrets_killed }}</p>
  <p>Games Won: {{ subject.main_sessions_won }}</p>
  <p>Games Lost: {{ subject.main_sessions_lost }}</p>
  <p>Games Played: {{ subject.main_sessions_won }}</p>
  <p>Win Rate: {{ subject.main_win_percentage }}%</p>
  <p>Total Kills: {{ subject.main_champions_killed }}</p>
  <img src="{{ subject.most_played_champion_url_splash }}" />
  {% else %}
  <p>Ranked champion data unavailable</p>
  {% endif %}
</div>
<div class="contained-data-section">
  <h3>Overall Ranked Statistics:</h3>
  <p>Double Kills: {{ subject.total_doubles }}</p>
  <p>Triple Kills: {{ subject.total_triples }}</p>
  <p>Quadra Kills: {{ subject.total_quadras }}</p>
  <p>Penta Kills: {{ subject.total_pentas }}</p>
  <p>Largest Killing Spree: {{ subject.largest_killing_spree }}</p>
  <p>Most Kills in a Single Game: {{ subject.max_champions_killed }}</p>
  <p>Towers Destroyed: {{ subject.total_turrets_killed }}</p>
  <p>Champions Killed: {{ subject.total_champions_killed }}</p>
  <p>Games Won: {{ subject.total_sessions_won }}</p>
  <p>Games Lost: {{ subject.total_sessions_lost }}</p>
  <p>Games Played: {{ subject.total_games }}</p>
  <p>Lifetime Win Percentage: {{ subject.career_win_rate }}%</p>
</div>
<br>
<div class="contained-data-section">
<h3>Threat Level Projection</h3>
<p>Queue Type: {{ subject.queue_type }}</p>
<p>League and Division: {{ subject.league_and_division }}</p>
<p>Ladder Points: {{ subject.ladder_points }}
<p>Hot Streak: {{ subject.hot_streak }}</p>
<p>Veteran: {{ subject.veteran_status }}</p>
<p>Wins in this League: {{ subject.league_wins }}</p>
<p>Losses in this League: {{ subject.league_losses }}</p>
<p>Win Ratio in this League: {{ subject.league_win_ratio }}%</p>
<p>Estimated Relative Player Skill for a {{ subject.league_and_division }} Player: <b>{{ subject.threat_rating }}</b></p>
</div>
<div class="contained-data-section section-image-background">
<h3>Psychological Evaluation</h3>
{% if subject.match_history %}
<div class="match-table psych-eval-container">
<img id="psych-image" src="{% static "StatTracker/PsychArt.jpg" %}" />
<table>
   <thead>
    <tr>
      <th>
        <h4>Match History (Descending)</h4>
      </th>
    </tr>
  </thead>
  <tbody>
  {% for match in subject.match_history %}
    <tr>
      <td>{{ match }} </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div class="psych-projection">
<h3>Psychological Projection</h3>
{% if subject.match_history_debug_message %}
<p class="glyphicon glyphicon-warning-sign"> {{ subject.match_history_debug_message }}</p>
{% endif %}
{% if subject.recent_win_rate %}
<p>Win Rate over {{subject.games_to_fetch}} Games: {{subject.recent_win_rate}}%
{% endif %}
<p>Consecutive {{ subject.consecutive_result }}: {{ subject.consecutive_result_number }}</p>
<p>Psychological State: <b>{{ subject.pattern }}</b></p>
<p>Psychological Severity: <b>{{ subject.severity }}</b><p>
{% if subject.advice %}
<p>Assessment: {{ subject.advice }}</p>
{% endif %}
{% else %}
<p>Match history data unavailable</p>
{% endif %}
</div>
</div>

<div class="contained-data-section section-image-background">
  <h3>Current Game</h3>
  <p>Status: <b>{{ current_game.game_type }}</b></p>
    {% if current_game.game_data %}
    <p>Playing as: <b>{{ subject.current_champion_name }}, {{ subject.current_champion_title }}</b></p>
    <img src="{{ subject.champion_url_splash }}" />
    <h4>Ranked Stats with {{subject.current_champion_name}}:</h4>
    {% if subject.current_champion_total_champions_killed %}
    <p>Double Kills: {{subject.current_champion_doubles}}</p>
    <p>Triples Kills: {{subject.current_champion_triples}}</p>
    <p>Quadra Kills: {{subject.current_champion_quadras}}</p>
    <p>Penta Kills: {{subject.current_champion_pentas}}</p>
    <p>Most Kills per Game: {{subject.current_champion_max_kills}}</p>
    <p>Towers Destroyed: {{subject.current_champion_total_turrets_killed}}</p>
    <p>Games Won: {{subject.current_champion_total_sessions_won}}</p>
    <p>Games Lost: {{subject.current_champion_total_sessions_lost}}</p>
    <p>Games Played: {{subject.current_champion_total_sessions_played}}</p>
    <p>Champion Win Rate: {{subject.current_champion_career_win_percentage}}%</p>
    <p>Total Kills with this Champion: {{subject.current_champion_total_champions_killed}}</p>
    {% else %}
    <p>Champion has not previously been played in a ranked game.</p>
    <br>
    <br>
    <br>
    {% endif %}
    {% endif %}
</div>
<br>
{% if current_game.display_table %}
    <br>
    <table style="width: 90%; text-align: center">
    <thead>
      <tr>
        <th colspan="6">
          <h3 style="text-align: left;">Current Game Overview</h3>
        </th>
      </tr>
      <tr>
        <th>
          Name & ID
        </th>
        <th colspan="2">
          Champion & Associated Win Rate
        </th>
        <th>
          Team
        </th>
        <th>
          Estimated Relative Player Skill
        </th>
        <th>
          Projected Psychology
        </th>
      </tr>
    </thead>
    <tbody>
    {% for participant in current_game.participants %}
    {% if participant.first_participant %}
    <tr>
      <td class="non-highlighting" id="divider-1" colspan="6"><br></td>
    </tr>
    {% endif %}
    <tr>
        <td>{{participant.summoner_name}}</td>
        <td>{{participant.champion_name}}, {{ participant.champion_title }}</td>
        <td style="width:70px;height70px" rowspan="2"><a href="{{ participant.wiki_url }}"><img width=70px height=70px src={{participant.icon_url}}></a></td>
        <td class="team-number" rowspan="2"><b>{{participant.team}}</b></td>
        <td rowspan="2">{% if participant.threat_failed %} participant.threat_error_message {% else %}<b>{{participant.threat_rating}}:</b> {{ participant.league_win_ratio }}% win rate in {{ participant.league_and_division }} {% endif %}</td>
        <td>Psychological State: <b>{{participant.pattern}}</b></td>
      </tr>
      <tr>
        <td>{{participant.riot_id}}</td>
        <td>Win Rate: <b>{{participant.champion_win_rate}}</b>{% if participant.win_rate_obtained %}% of <b>{{ participant.champion_games }}</b> ranked games{% endif %}</td>
        <td>Severity: <b>{{participant.severity}}</b></td>
      </tr>
      {% if participant.divider_participant %}
      <tr>
        <td class="non-highlighting" id="divider-2" colspan="6"><br></td>
      </tr>
      {% endif %}
    {% endfor %}
      </tbody>
    </table>
    <br>
    <div class="contained-final-analysis  section-image-background-darker">
      <h3>Current Game Overview Analysis</h3>
        {% if current_game.inconclusive %}
        <img id="outcome-image" src="{% static "StatTracker/InconclusiveBackground.png" %}" />
        {% else %}
        <img id="outcome-image" src="{% static "StatTracker/PredictionBackground.jpg" %}" />
        {% endif %}
      <div id="analysis-block-champ">
      <h4>Average Champion Win Rates</h4>
      <p>Team 1: {{current_game.team1_average_champion_winrate}}%
      <p>Team 2: {{current_game.team2_average_champion_winrate}}%
      <p>Most Skilled Team: <b>{{current_game.higher_skill_team}}</b></p>
      {% if not current_game.equal_skill %}
        <p>Champion Skill Advantage: <b>{{current_game.skill_difference}}%</b></p>
      {% endif %}
      </div>
      <div id="analysis-block-morale">
      <h4>Average Player Morale</h4>
      <p>Team 1: {{current_game.team1_average_morale}}%
      <p>Team 2: {{current_game.team2_average_morale}}%
      <p>Highest Morale: <b>{{current_game.higher_morale_team}}</b></p>
      {% if not current_game.equal_morale %}
        <p>Morale Advantage: <b>{{current_game.morale_difference}}%</b></p>
      {% endif %}
      </div>
      <div id="outcome">
      <div id="outcome-text">
      <h4>Projected Outcome</h4>
      <p>Favoured Team to Win: <b>{{current_game.predicted_outcome}}</b></p>
      {% if not current_game.inconclusive %}
        <p>Estimated Tactical Advantage: <b>{{current_game.total_advantage_difference}}%</b></p>
        <p>Estimated Chance to Win: <b>{{current_game.certainty}}%</b></p>
      {% else %}
      {% endif %}
      </div>
      <img id="crossed-axes" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/547.png" />
      </div>
      <br>
      <div id="analysis-block-threat">
      <h4>Average Threat Rating</h4>
      <p>Team 1: {{current_game.team1_average_threat}}%
      <p>Team 2: {{current_game.team2_average_threat}}%
      <p>Most Skilled Team: <b>{{current_game.higher_threat_team}}</b></p>
      {% if not current_game.equal_threat %}
        <p>Overall Player Skill Advantage: <b>{{current_game.threat_difference}}%</b></p>
      {% endif %}
      </div>
    </div>
{% endif %}
<br>
<br>
<form method="GET" action="{% url 'StatTracker:index' %}">
<button class="btn-info">Return to Index</button>
</form>
<br>
<br>
<div class="footer-div-absolute">
  <p class="non-highlighting">Immense Dawn isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</div>
{% endblock %}
</body>